body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u667 {
  position:absolute;
  left:0px;
  top:39px;
  width:365px;
  height:69px;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u669 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u670 {
  position:absolute;
  left:120px;
  top:0px;
  width:240px;
  height:34px;
}
#u671 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u672 {
  position:absolute;
  left:0px;
  top:34px;
  width:120px;
  height:30px;
}
#u673 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u674 {
  position:absolute;
  left:120px;
  top:34px;
  width:240px;
  height:30px;
}
#u675 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u676 {
  position:absolute;
  left:0px;
  top:120px;
  width:141px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:419px;
}
#u678 {
  position:absolute;
  left:17px;
  top:159px;
  width:242px;
  height:419px;
}
#u679 {
  position:absolute;
  left:2px;
  top:202px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u680 {
  position:absolute;
  left:60px;
  top:588px;
  width:157px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:419px;
}
#u682 {
  position:absolute;
  left:309px;
  top:159px;
  width:242px;
  height:419px;
}
#u683 {
  position:absolute;
  left:2px;
  top:202px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u684 {
  position:absolute;
  left:388px;
  top:588px;
  width:85px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:419px;
}
#u686 {
  position:absolute;
  left:612px;
  top:159px;
  width:242px;
  height:419px;
}
#u687 {
  position:absolute;
  left:2px;
  top:202px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u688 {
  position:absolute;
  left:648px;
  top:588px;
  width:171px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u690 {
  position:absolute;
  left:0px;
  top:639px;
  width:117px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u692 {
  position:absolute;
  left:0px;
  top:678px;
  width:468px;
  height:84px;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u694 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u695 {
  position:absolute;
  left:101px;
  top:0px;
  width:232px;
  height:34px;
}
#u696 {
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u697 {
  position:absolute;
  left:333px;
  top:0px;
  width:130px;
  height:34px;
}
#u698 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u699 {
  position:absolute;
  left:0px;
  top:34px;
  width:101px;
  height:45px;
}
#u700 {
  position:absolute;
  left:2px;
  top:15px;
  width:97px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:45px;
}
#u701 {
  position:absolute;
  left:101px;
  top:34px;
  width:232px;
  height:45px;
  text-align:right;
}
#u702 {
  position:absolute;
  left:2px;
  top:15px;
  width:228px;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u703 {
  position:absolute;
  left:333px;
  top:34px;
  width:130px;
  height:45px;
}
#u704 {
  position:absolute;
  left:2px;
  top:15px;
  width:126px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
}
#u705 {
  position:absolute;
  left:117px;
  top:717px;
  width:77px;
  height:34px;
}
#u706 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
